<div class="teacher-manager">
    <video-search video-id="videoId"/>
    </video-search>

    <div ng-if="videoId">
        <youtube-player video-id="videoId">
        </youtube-player>

        <user-subtitles-input video-id="videoId"
                              subtitles="subtitles">
        </user-subtitles-input>
    </div>

    <div ng-if="subtitles.text.length > 0">
        <subtitles-display subtitles="subtitles">
        </subtitles-display>

        <subtitles-matching subtitles="subtitles">
        </subtitles-matching>

        <button ng-disabled="savingSubtitles"
                ng-click="saveSubtitles()">
            save
        </button>
    </div>
</div>
