<div class="subtitles-display">

    <table ng-table="tableParams">

        <thead>
            <tr>
                <th class="index">row</th>
                <th class="text">source</th>
                <th class="text">target</th>
                <th class="text">transcript</th>
                <th class="time">from</th>
                <th class="time">to</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="text in $data track by $index">
                <td>
                    <button ng-click="deleteSubtitle($index)" class="delete">x</button>
                    <span ng-bind="getTableIndex($index)"></span>
                </td>
                <td><a href="#" editable-text="text.source" ng-bind="text.source || 'none'"></a></td>
                <td><a href="#" editable-text="text.target" ng-bind="text.target || 'none'"></a></td>
                <td><a href="#" editable-text="text.transcript" ng-bind="text.transcript || 'none'"></a></td>
                <td><a href="#" editable-text="text.from" ng-bind="text.from || 'none'"></a></td>
                <td><a href="#" editable-text="text.to" ng-bind="text.to || 'none'"></a></td>
            </tr>
        </tbody>

    </table>

</div>