.subtitles-display td,
.subtitles-display th {
    padding: 10px;
}

.subtitles-display th.index {
    width: 5%;
}

.subtitles-display th.text {
    width: 25%;
}

.subtitles-display th.time {
    width: 10%;
}