.subtitles-display td,
.subtitles-display th {
    padding: 10px;
    text-align: left;
}

.subtitles-display th {
    min-width: 100px;
}

.subtitles-display th.index {
    width: 10%;
}

.subtitles-display th.text {
    width: 23%;
}

.subtitles-display th.time {
    width: 10%;
}

.subtitles-display .delete {
    display: inline-block;
    border-radius: 100%;
    color: red;
    background: white;
    margin-right: 5px;
    cursor: pointer;
}