
.subtitles-display .header,
.subtitles-display .body {
    width: 100%;
    text-align: center;
}

.subtitles-display .header > span,
.subtitles-display .body > span {
    display: inline-block;
    width: 20%;
    padding: 10px;
    vertical-align: top;
}

.subtitles-display .header > span:first-child,
.subtitles-display .body > span:first-child {
    width: 10%;
}

.subtitles-display .header {
    font-weight: bold;
}

.subtitles-display .body-container {
    max-height: 500px;
    overflow: auto;
}