<div class="user-subtitles-input">
    <div>
        <span>
            source lang:
        </span>

        <input ng-model="subtitles.sourceLang"
               class="lang-input"
               maxlength="2"/>
    </div>

    <div>
       <span>
           target lang:
       </span>

        <input ng-model="subtitles.targetLang"
               class="lang-input"
               maxlength="2"/>
    </div>

    <div ng-show="subtitles.sourceLang && subtitles.targetLang">

        <div class="user-subtitles">

            <span>
                user subtitles:
            </span>

            <button ng-click="fillSubtitlesFromDB()">
                load
            </button>

        </div>

        <div class="youtube-subtitles">

            <span>
                youtube:
            </span>

            <div>
                to find youtube subtitles url
                open developer tools (F12) -> network.
                start the video show the subtitles.
                find 'timedtext' in the network section
                and copy the url.
            </div>

            <input ng-model="youtubeSubtitlesUrl"/>

            <button ng-click="fillSubtitlesFromYoutube()">
                submit
            </button>

        </div>

        <div class="srt-subtitles">

                <span>
                    srt file:
                </span>

                <input type="file"
                       accept=".srt"
                       file-model="srtFile"/>

                <button ng-click="uploadSourceFromSrtFile()">
                    [First] Upload Source srt
                </button>

                <button ng-click="uploadTargetFromSrtFile()">
                    Upload Target srt
                </button>

                <button ng-click="uploadTranscriptFromSrtFile()">
                    Upload Transcript srt
                </button>

        </div>

        <div class="manual-subtitles">

                <div>
                    add manual:
                </div>

                <span>from:</span>
                <input ng-model="manualSubtitle.from"/>

                <span>to:</span>
                <input ng-model="manualSubtitle.to"/>

                <span>source:</span>
                <input ng-model="manualSubtitle.source"/>

                <span>target:</span>
                <input ng-model="manualSubtitle.target"/>

                <span>transcript:</span>
                <input ng-model="manualSubtitle.transcript"/>

                <button ng-click="addManualSubtitle()">
                    add
                </button>

        </div>

    </div>
</div>