<div class="user-subtitles-input">
    <div>
        <span>
            source lang:
        </span>

        <input ng-model="subtitles.sourceLang"
               class="lang-input"
               maxlength="3"/>
    </div>

    <div>
       <span>
           target lang:
       </span>

        <input ng-model="subtitles.targetLang"
               class="lang-input"
               maxlength="3"/>
    </div>

    <div ng-show="subtitles.sourceLang && subtitles.targetLang"
         class="youtube-subtitles">

        <span>
            youtube:
        </span>

        <div>
            to find youtube subtitles url
            open developer tools (F12) -> network.
            start the video show the subtitles.
            find 'timedtext' in the network section
            and copy the url.
        </div>

        <input ng-model="youtubeSubtitlesUrl"/>

        <button ng-click="fillSubtitlesFromYoutube()">submit</button>
    </div>

    <div ng-show="subtitles.sourceLang && subtitles.targetLang"
         class="srt-subtitles">

            <span>
                srt file:
            </span>

            <input type="file"
                   accept=".srt"
                   file-model="srtFile"/>

            <button ng-click="loadFromSrtFile()">load</button>

            <button ng-click="mergeFromSrtFile()">merge</button>
    </div>
</div>