button {
    color: white;
    background-color: #5bc0de;
    border: 1px solid #b9def0;
    padding: 2px 8px;
    border-radius: 0;
    transition: 0.3s all ease-in-out;
}

button:hover {
    background-color: #1bb8ee;
}

button:active {
    background-color: #00b3ee;
}

button:focus {
    outline: 0;
}